*, *::before, *::after {
    box-sizing: border-box;
}
html {
    background-color: black;
    margin: 0;
}
body {
    font-family: Helvetica, 'sans-serif';
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    background-color: inherit;
    margin: 0;
    margin-top: 69px;
}
/* HEADER START */
header {
    background-color: black;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
}
header img {
    height: 50px;
    margin: 9.5px 0px 9.5px 10px;
}
header ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: 10px;
}
header li {
    text-decoration: underline;
    display: inline;
    padding-left: 30px;
}
/* HEADER END */
/* MISSION SECTION START */
.mission {
    height: 700px;
    width: 1200px;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}
.mission img {
    top: 69px;
}
.mission-text {
    background-color: black;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.mission-label h2 {
    margin-top: 10px;
    margin-bottom: -10px;
}
.mission-label h4 {
    margin-bottom: 10px;
}
/* MISSION SECTION END */
/* TEA OF THE MONTH SECTION START */
.tea-month img {
    height: 200px;
    width: 300px;
}
/* TEA OF THE MONTH SECTION END */